.card {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}

li .card:hover {
    border: 1px solid blue;
}

ol {
    padding: 0;
}

.text-box {
    width:100%;
}

.submit-btn{
    background: #87d7f1;
    width: 100px;
    border: 1px solid;
    height: 36px;
    margin-top: 14px;
}